<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Free Natal Chart Blog: news, announcements, technical notes." name="description">
  <link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
  <link href="/favicon-32x32.png" type="image/png" rel="icon" sizes="32x32">
  <link href="/favicon-16x16.png" type="image/png" rel="icon" sizes="16x16">
  <link href="/site.webmanifest" rel="manifest">
  <link href="https://unpkg.com/spectre.css@0.5.9/dist/spectre.min.css" type="text/css" rel="stylesheet">
  <title>Blog - Free Natal Chart</title>
</head>

<body>
  <div class="container grid-xl">
    {% block content %} {% endblock %}
  </div>
</body>

</html>
