{% extends "base.html" %}

{% block content %}
{% for page in section.pages %}
<section>
  <h2><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h2>
  <p>
    <small class="text-muted">{{page.date}}</small>
    {% if page.taxonomies.tags %}
    ·
      {% for tag in page.taxonomies.tags %}
        <span class="label bg-secondary text-tiny"><a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">{{ tag }}</a></span>
      {% endfor %}
    {% endif %}   
  </p>
  {{page.summary | safe }}
  <a href="{{ page.permalink }}#continue-reading">Read more</a>
</section>
{% endfor %}
{% endblock content%}
